body{
    background-image: url('/static/images/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
form{
    background-color: #2C3E50;
    position: absolute;
    top: 130px;
    right: auto;
    left: calc(50% - 160px);
    border-radius: 15px;
    opacity: .90;
    margin: 0px auto 0px auto;
    padding: 25px;
    width: 320px;
    color: #566573;
    font-family: 'Alata', sans-serif;
}
input{
    width: 100%;
    padding: 5px 10px;
    margin: 0px;
    border-radius: 0px;
    border-color: #2C3E50;
    border-radius: 8px;
    color: black;
    background-color: #566573;
}
::placeholder{
    color: black;
}
.form-container{
    display: grid;
    position: absolute;
    top: 130px;
    right: auto;
    left: calc(50% - 160px);
    grid-template-columns: 47.5% 47.5%;
    width: 320px;
    margin: 0px auto 0px auto;
    grid-gap: 30px 5%;
}
.date-container{
    grid-column-start: 1;
    grid-column-end: 3;
}
.form-labels{
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
.search{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px auto;
    font-size: 18px;
}