body{
    background-image: url('/static/images/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

