.wrapper{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.change-seats{
    font-family: 'Alata', sans-serif;
    font-size: 10px;
    margin-left: 310px;
    margin-top: -80px;
}