{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

<!-- title for page -->
{% block title %}Seats{% endblock %}

<!-- add to head -->
{% block head %}
    <!-- css for this page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/seats.css')}}">
{% endblock %}

<!-- content to add to layout -->
{% block content %}
<ul class="nav justify-content-center">
        <li class="nav-item">
          <a id="legendButton" onclick="showLegend()" style="font-size: 30px; color: grey;" class="nav-link" href="#">Legend</a>
        </li>
      </ul>
      <img style="opacity: 0%;" class="legend" src= "images/legend.png" id="legend">
      <h1 style="font-size: 50px;" align="center">Seat Selector</h1>

<div class="realBody" style="color: white; padding-top: 270px; padding-bottom: 100px; " id="bg">

    <div style="color: white; font-size: 50px;" class="firstClass" id="firstClass">
        <div>
            <h1>A</h1>
        </div>
        <div>
            <h1>B</h1>
        </div>
        <div>
            <h1></h1>
        </div>
        <div>
            <h1>C</h1>
        </div>
        <div>
            <h1>D</h1>
        </div>
    </div>
    <div style="color: white; font-size: 50px;"; class="economy" id="economy">
        <div>
            <h1>A</h1>
        </div>
        <div>
            <h1>B</h1>
        </div>
        <div>
            <h1>C</h1>
        </div>
        <div>
            <h1></h1>
        </div>
        <div>
            <h1>D</h1>
        </div>
        <div>
            <h1>E</h1>
        </div>
        <div>
            <h1>F</h1>
        </div>
    </div>
    </div>
        <div data-target=".bd-example-modal-xl" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div style="width: 4000px;" class="modal-content">
                <div class="modal-header">
                  <h5 style="font-size: 100px;" class="modal-title" id="exampleModalCenterTitle">Trade Form</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div style="font-size: 100px;" class="modal-body">
                  <form>
                      <label align="center" for="reason">Reason</label><br>
                      <textarea id="Reason" placeholder="Enter Reason Here"</textarea>
                      <label id="selectedSeat" for="selectedSeat">Selected Seat: </label><br>
                      <label id="currentSeat" for="currentSeat">Current Seat: </label><br>
                  </form>
                </div>
                <div class="modal-footer">
                <div style="padding-right: 520px;">
                  <button style="font-size: 60px;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  <button id="submitButton" style="font-size: 60px;" type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
<script>
    window.onload = firstClassSeatPopulator()
    function firstClassSeatPopulator() {
        var column = ['A', 'B', ' ', 'C', 'D']
        var num = 1;
        for (i = 0; i < 3; i++) {
            for (j = 0; j < 5; j++) {
                var seat = document.createElement("div");
                document.getElementById("firstClass").appendChild(seat);
                if (j == 2) {

                    seat.setAttribute("id", num);
                    var number = document.createElement("h1");
                    number.id = num;
                    document.getElementById(num).style.fontSize = '50%';
                    document.getElementById(num).appendChild(number);
                    document.getElementById(num).innerHTML = num;
                    document.getElementById(num).style.textAlign = 'center';

                    num = num + 1;

                    continue;
                }
                var S_num = i + 1;
                var seatNumber = S_num + column[j];
                seat.setAttribute("id", seatNumber);
                seat.setAttribute("onClick", "eventListener(this.id)")
                seed = Math.floor(Math.random() * 4);
                switch (seed) {
                    case 0:
                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/firstclassgrey.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage")

                        break;
                    case 1:
                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/firstclassblue.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage")
                        break;
                    case 2:
                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/firstclassgreen.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage")
                        break;
                    case 3:
                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/firstclassgrey.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage")
                        break;

                    default:
                        break;

                }

            }

        }
    }
    window.onload = economyClassSeatPopulator()
    function economyClassSeatPopulator() {
        var column = ['A', 'B', 'C', ' ', 'D', 'E', 'F']
        var num = 4;
        for (i = 4; i < 33; i++) {
            for (j = 0; j < 7; j++) {
                var seat = document.createElement("div");
                document.getElementById("economy").appendChild(seat);
                if (j == 3) {

                    seat.setAttribute("id", num);
                    var number = document.createElement("h1");
                    number.id = num;
                    document.getElementById(num).style.fontSize = '60%';
                    document.getElementById(num).appendChild(number);
                    document.getElementById(num).innerHTML = num;
                    document.getElementById(num).style.textAlign = 'center';
                    document.getElementById(num).style.marginTop = "20px";
                    num = num + 1;

                    continue;
                }
                if ((i == 8 || i == 21) && (j == 0 || j == 6)) {
                    var e = num + "Exit";
                    seat.setAttribute("id", e);
                    var exit = document.createElement("h1");
                    exit.id = "Exit";
                    document.getElementById(e).style.fontSize = '35%';
                    document.getElementById(e).style.color = 'red';
                    document.getElementById(e).appendChild(exit);
                    document.getElementById(e).innerHTML = "EXIT";
                    document.getElementById(e).style.textAlign = 'center';
                    document.getElementById(e).style.marginTop = "20px";
                    continue;
                }

                var S_num = i + 1;
                var seatNumber = S_num + column[j];
                seat.setAttribute("id", seatNumber);
                seed = Math.floor(Math.random() * 4);
                switch (seed) {
                    case 0:

                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/grey-seat.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage2")

                        break;
                    case 1:
                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/blue-seat.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage2")
                        break;
                    case 2:
                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/green-seat.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage2")
                        break;
                    case 3:
                        var seatImage = document.createElement("img");
                        seatImage.src = ("images/grey-seat.png");
                        document.getElementById(seatNumber).appendChild(seatImage)
                        seatImage.setAttribute("class", "seatImage2")
                        break;

                    default:
                        break;
                }
            }
        }
    }
</script>
<script>
    function eventListener(seatNumber, currentSeat) {
            var currentSeat = 0;
            $('#myModal').modal('show');
            document.getElementById("selectedSeat").innerHTML = ("Selected Seat: " + seatNumber);
            document.getElementById("currentSeat").innerHTML = ("Current Seat: " + currentSeat);
            document.getElementById("submitButton").onclick = function(){submitRequest(currentSeat, seatNumber)}

    }
    function submitRequest(current, selected){
           var submitedArray = []
           reason = document.getElementById("Reason").value;
           $('#myModal').modal('hide')
           submitedArray.push(current,selected,reason)
           console.log(submitedArray)



    }
    function showLegend() {
            document.getElementById("legend").style.opacity = "100%";
            document.getElementById("legendButton").onclick = function(){closeLegend()}

    }
    function closeLegend(){
            document.getElementById("legend").style.opacity = "0%";
            document.getElementById("legendButton").onclick = function(){showLegend()}
    }
</script>

{% endblock %}